@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.container{
    width: 1400px;
    height: 60px;
    border-bottom: 1px solid rgb(109, 109, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    user-select: none;
}

.logo{
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 2px 0px rgb(101, 132, 255);
    transition: ease-in-out all 0.1s;
}

.logo:hover{
    color: rgb(101, 132, 255);
    text-shadow: 1px 2px 0px white;
    transition: ease-in-out all 0.1s;
}

.search_div{
    width: 560px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search_icon{
    position: absolute;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
    
}

.search{
    width: 500px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 16px;
    
}

.search::placeholder{
    color: rgb(207, 207, 207);
    font-size: 16px;
}

.search_button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #6584FF;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-out all 0.2s;
}

.search_button:hover{
    background-color: #3455da;
    transition: ease-in all 0.2s;
}

.button_icon{
    font-size: 14px;
    margin-left: 5px;
}

.nav_list{
    width: 400px;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.list_item{
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: ease-in-out all 0.1s;
}

.list_item:hover{
    color: rgb(101, 132, 255);
    cursor: pointer;
    transition: ease-in-out all 0.1s;
}
