
.container{
    margin-top: 20px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;

}

.container a{
    margin-left: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}