
.container{
    width: 530px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(101, 132, 255, 0.25);
}

.container ul li div,
.container ul li button {
    color: white;
}